.calendar-nav {
    background-color: rgba(83, 83, 83, 0.2);
    color: #ffff;
}

.calendar-side-nav {
    background-color: red;
    border-radius: 15px;
}

.calendar-nav-button {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
}

.calendar-nav-button a {
    text-decoration: none;
    display: block;
    color: #ffff;
}

.calendar-nav-button:hover {
    transition: background-color 250ms;
    background-color: rgba(83, 83, 83, 0.4);
}

.calendar-body {
    background-color: transparent;
}

.calendar-day {
    background-color: rgba(83, 83, 83, 0.2);
    height: 14vh;
    border: solid black 3px;
    border-radius: 15px;
}

.calendar-day:hover {
    transition: background-color 500ms, border 1000ms;
    background-color: rgba(83, 83, 83, 0.4);
    cursor: pointer;
    border: solid #c300ff 3px;
}

.calendar-day-header {
    color: #ffff;
    background-color: #c300ff;
    border-radius: 15px;
}

.calendar-day-header p {
    text-shadow: 2px 2px black;
    text-align: center;
    margin: 0;
    font-weight: bolder;
}

.calendar-day-body {
    background-color: black;
    background-color: rgba(83, 83, 83, 0.21);
    border-radius: 0 0 15px 15px;
}

.current-day {
    color: #d7ad07;
    color: yellow;
    color: #51d6ca;
}

.current-day:not(div.calendar-day-header) {
    border: #51d6ca solid 3px;
}

.week-day {
    color: rgba(255, 0, 0, 0.5)
}