html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #232323;
}

::-webkit-scrollbar-thumb {
    background-color: #c300ff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9f00cf;
}

body {
    margin: 0;
    padding: 80px 0px 15px 0px;
    position: relative;
    background: #525252;
    font-family: fantasy, Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
}

#navlinks {
    height: 70px;
}

.nav a {
    color: #ffff;
}

.nav ul {
    width: auto;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: inline-block;
}

.nav ul li {
    width: auto;
    height: 25px;
    position: relative;
    display: inline-block;
    z-index: 2;
    font-size: 20px;
    font-family: fantasy, Arial, Helvetica, sans-serif;
}

.nav ul li a {
    text-decoration: none;
    color: #ffff;
}

.nav ul li a:hover {
    color: #c300ff;
    transition: color 200ms;
}

.nav-container {
    background: #232323;
    box-shadow: 0px 2px 8px 0px #333;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.nav-container .logo {
    width: 20%;
    height: auto;
    color: #ffff;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.5em;
    float: left;
    position: relative;
    margin: 0;
    z-index: 1;
}

.nav-container .logo img {
    width: auto;
    height: 75px;
    padding: 0px 0px 5px 0px;
    float: left;
}

.nav-container .logo h1 {
    padding-bottom: 1px;
    padding-right: 0px;
    margin: 10px 0px 0px 0px;
    float: left;
    letter-spacing: 0.05em;
    text-align: left;
}

.navbar-search_mode {
    position: absolute;
    width: 100%;
    background-color: #333;
    box-shadow: 0px 2px 8px 0px #333;
    z-index: -1;
    height: 40px;
    border-radius: 0 0 20px 20px;
    display: none;
}

.nav:hover .navbar-search_mode {
    display: block;
    animation: search_down 1s;
    animation-fill-mode: forwards;
}

@keyframes search_down {
    from {
        top: 0px;
    }
    to {
        top: 80px;
    }
}

.navbar-search_mode form {
    margin: 5px 25px 5px 25px;
    width: 25%;
    float: right;
}

.navbar-search_mode #search-box {
    border: none;
    padding-left: 10px;
    font-size: large;
    height: 30px;
    width: 80%;
    border-radius: 10px;
}

.navbar-search_mode #search-button {
    background-color: red;
    color: #ffff;
    padding: 0;
    border: none;
    height: 32px;
    width: 18%;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}

.navbar-search_mode #search-button:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.profile-content {
    margin: 25px;
    letter-spacing: 0.1em;
}

.contact-content {
    letter-spacing: 0.1em;
    color: #ffff;
    display: flex;
    padding: 5%;
    text-align: center;
}

.contact-content .contact_discord,
.contact_steam,
.contact_github {
    flex: 1;
}

.contact-content img {
    height: 25%;
    width: 25%;
}

.menu {
    width: 100%;
    height: auto;
    background: #232323;
    position: fixed;
    top: 0;
}

.menu>.menu-content {
    width: auto;
    height: auto;
    margin: 0;
    position: relative;
    padding: 28px 10px 0px 20px;
    float: right;
    font-family: fantasy, Arial, Helvetica, sans-serif;
    font-weight: 200;
    letter-spacing: 0.05em;
    position: relative;
    color: #ffff;
}

.menu>.menu-content>a {
    color: #ffff;
    padding: 0 15px 0 5px;
    background-color: #232323;
    text-decoration: none;
    font-size: 20px;
}

.navbarbuttons {
    height: 30px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navbarbuttons a {
    text-decoration: none;
    padding: 0 10px 0 0;
}

.navbarbuttons>ul>li>.active {
    color: #c300ff;
}

.navbarbuttons>ul>li>.active:hover {
    color: #c300ffa2;
    transition: color 200ms;
}

.arrow-up {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffff;
    z-index: 3;
    right: 137px;
    top: 50px;
    display: none;
}

.login-form {
    position: absolute;
    width: 300px;
    height: auto;
    background-color: #ffff;
    right: 5px;
    top: 65px;
    border-radius: 3px;
    border-bottom: 5px solid #232323;
    display: none;
}

.login-form .form {
    width: 250px;
    margin: 0 auto;
    color: black;
    font-size: 20px;
    font-family: fantasy, Arial, Helvetica, sans-serif;
    letter-spacing: 0.01em;
}

.login-form .form {
    width: 300px;
    margin: 0 auto;
    color: black;
    font-size: 20px;
    font-family: fantasy, Arial, Helvetica, sans-serif;
    letter-spacing: 0.01em;
}

.login-form .form .loginbtn {
    width: 25%;
    float: right;
    color: black;
    margin: 5px 28px 0 0;
    background-color: #ffff;
    padding: 0px 5px;
    border-radius: 5px;
    text-align: center;
    font-family: fantasy, Arial, Helvetica, sans-serif;
}

.login-form .form input {
    width: 80%;
    color: black;
    margin-right: 10px;
    background-color: #ffff;
    padding: 0px 5px;
    border-radius: 5px;
    text-align: center;
    font-family: fantasy, Arial, Helvetica, sans-serif;
}

.form_ {
    text-align: center;
}

.login-form .form h1 {
    width: 250px;
    margin: 0 auto;
    padding: 5px 0 0 0;
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: fantasy, Arial, Helvetica, sans-serif;
    letter-spacing: -0.01em;
}

.login-form h3 {
    color: black;
    font-size: 15px;
    text-align: left;
    padding-left: 25px;
    font-family: fantasy, Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
}

.login-form h3 a {
    text-decoration: none;
    color: black;
}

.login-form h3 a:hover {
    color: gray;
    transition: color 200ms;
}

.avatar {
    vertical-align: middle;
    position: absolute;
    top: -15px;
    right: -5px;
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #c300ff;
    cursor: pointer;
    user-select: none;
}

.arrow-up-avatar {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #ffff;
    z-index: 3;
    right: 63px;
    top: 44px;
}

p {
    color: #ffff;
    font-size: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    font-family: Helvetica, sans-serif;
}

a#button-logedin {
    color: black;
    width: 50px;
    text-decoration: none;
    border-top: 5px transparent;
    border-left: 5px transparent;
    border-bottom: 5px transparent;
    border-radius: 10% 20% 20% 10%;
    padding: 10px 2px 10px 8px;
    padding-right: 50px;
    background: #c300ff;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

a#button-a {
    padding: 0 8px 0 0;
}

a#button-a:hover {
    color: #c300ffa2;
    transition: color 200ms;
}

a#button-b:hover {
    color: #c300ffa2;
    transition: color 200ms;
}


/*
.loggedin-arrow-up {
width: 0;
height: auto;
position: relative;
z-index: 0;
}
*/

.loggedin-arrow-up-box {
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: #333;
    height: auto;
    flex-direction: column;
    border-radius: 0% 0% 15% 15%;
    border-bottom: 5px solid #232323;
    z-index: -1;
    display: none;
}

.loggedin-logout-button form {
    text-align: center;
    padding-bottom: 5px;
}

.loggedin-logout-button form input {
    position: relative;
    margin-top: 5px;
    width: 75%;
    height: 25px;
    cursor: pointer;
    font-size: 85%;
    font-family: fantasy, cursive;
    letter-spacing: 3px;
    background: #c300ff;
    border: 2px solid black;
    border-radius: 15%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    transition: 500ms;
}

.loggedin-logout-button form input::after {
    content: "";
    position: absolute;
    transform: translateX(-55px) translateY(-40px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 0px 50px transparent;
    transition: 500ms;
}

.loggedin-logout-button form input:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.loggedin-logout-button form input:hover:after {
    background: white;
    box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
    animation: spin 1s infinite linear;
}

.profile-profile_info_card h1 {
    color: white;
    font-size: 4em;
    margin: 5px 0;
}

.profile-profile_info {
    display: flex;
    background-color: #333;
    padding: 25px;
    border-radius: 15px;
    border: #232323 5px solid;
}

.profile-profile_info_img {
    height: 250px;
    width: 250px;
    border: 5px #232323 solid;
    border-radius: 10px;
    border-width: 5px;
}

.profile-profile_info_text {
    flex: 2;
    padding-left: 10px;
    font-size: 2em;
}

.profile-id_username {
    display: inline;
}

input.profile-id_username {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    padding-left: 10px;
    border: #232323 solid 5px;
    border-radius: 5px;
    background-color: #333;
    color: #ffff;
    width: 280px;
}

.profile-profile_status .profile-description {
    width: 95%;
    height: 80%;
    resize: none;
    padding: 0;
    padding-left: 5px;
    background-color: #333;
    border-radius: 5px;
    border: #232323 solid 5px;
    color: #ffff;
    font-size: 2em;
}

.profile-profile_status {
    padding-left: 10px;
    flex: 2;
}

.profile-profile_status h2 {
    font-size: 2em;
    color: #ffff;
    margin: 5px;
    flex: 8;
}

.profile-profile_status p {
    margin: 16px 0;
}

.profile-time_joined {
    font-size: 0.5em;
}

.profile-friends_since {
    font-size: 0.5em;
}

.show {
    display: block;
}

.register-content {
    margin: 10px 25px 25px 25px;
    background-color: #333;
    border-radius: 15px;
    height: auto;
    width: 30%;
    margin: 15px auto 25px auto;
    z-index: -2;
    border: 5px #232323 solid;
    text-align: center;
}

.register-content form {
    position: relative;
    display: inline-block;
    height: auto;
    width: 50%;
    padding-bottom: 5px;
    background-color: #333;
    color: #ffff;
    z-index: 1;
}

.register-content label {
    position: relative;
    display: block;
    flex-direction: column;
}

.register-content>form>#register-submit-button {
    position: relative;
    margin-top: 15px;
    width: 100px;
    height: 25px;
    cursor: pointer;
    font-size: 90%;
    font-family: fantasy, cursive;
    letter-spacing: 3px;
    background: #c300ff;
    border: 2px solid black;
    border-radius: 5%;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 40%);
    transition: 500ms;
}

.register-content>form>#register-submit-button::after {
    content: "";
    position: absolute;
    transform: translateX(-55px) translateY(-40px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 0px 50px transparent;
    transition: 500ms;
}

.register-content>form>#register-submit-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.register-content>form>#register-submit-button:hover:after {
    background: white;
    box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
    animation: spin 1s infinite linear;
}

.register-welcome-message {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #ffff;
    font-family: fantasy, Arial;
    letter-spacing: 0.05em;
}

.register-welcome-message h1 {
    padding: 0;
    margin: 10px 0 0 0;
}

.register-welcome-message h6 {
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 0.5em;
    letter-spacing: 0.15em;
}

#register-body {
    text-align: center;
}

.store-content p {
    animation: blinkingText 1.2s infinite;
    color: red;
    font-size: 10em;
    text-align: center;
}

@keyframes blinkingText {
    0% {
        color: rgb(255, 0, 0);
    }
    49% {
        color: rgb(0, 255, 13);
    }
    60% {
        color: rgb(38, 0, 255);
    }
    99% {
        color: rgb(255, 0, 221);
    }
    100% {
        color: rgb(208, 255, 0) 0;
    }
}


/* The Modal (background) */

.modal {
    display: none;
    text-align: center;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    text-align: center;
    background-color: #333;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #232323;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.modal-content>p {
    color: #ffff;
    text-align: center;
    font-family: fantasy;
    font-size: 1.8em;
}

.modal-content>h6 {
    color: #ffff;
    text-align: center;
    font-family: fantasy;
    font-size: 2em;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profile-edit-button {
    width: 5%;
    height: 15%;
    background-color: #c300ff;
    float: right;
    border: 2px #232323 solid;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-family: fantasy;
    font-size: 90%;
    border-radius: 10%;
}

.profile-edit-button:hover {
    background-color: #de73ff;
    transition: 200ms background-color;
}

.profile-err_message {
    text-align: center;
    color: #ffff;
    letter-spacing: 0.05em;
    margin-top: 100px;
    font-size: 4em;
}


/*

NEFAKÁ A NEVÍM PROČ
}
*/

.about-box {
    background-color: #333;
    width: 100%;
    height: auto;
    text-align: center;
}


/* Style the tab */

.about-tab {
    float: left;
    border: 1px solid #232323;
    background-color: #333;
    width: 30%;
    height: 300px;
}


/* Style the buttons that are used to open the tab content */

.about-tab button {
    color: #ffff;
    font-size: 2em;
    font-family: fantasy;
    display: block;
    background-color: inherit;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}


/* Change background color of buttons on hover */

.about-tab button:hover {
    background-color: #333;
}


/* Create an active/current "tab button" class */

.about-tab button.active {
    background-color: #525252;
}


/* Style the tab content */

.about_tabcontent {
    padding: 0px 0px;
    border: 2px solid #232323;
    width: 100%;
    border-left: none;
    height: 300px;
    display: none;
}

.about_tabcontent p {
    text-align: center;
}

.about_tabcontent h3 {
    text-align: center;
    color: #ffff;
    letter-spacing: 0.05em;
    border-bottom: 2px #232323 solid;
    padding-bottom: 15px;
}

.profile-edit-update-button {
    width: 5%;
    height: 15%;
    background-color: #c300ff;
    float: right;
    border: 2px #232323 solid;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-family: fantasy;
    font-size: 90%;
    border-radius: 10%;
    margin-right: 3%;
    margin-top: 10px;
    flex: 1;
}

.profile-edit-update-button:hover {
    background-color: #de73ff;
    transition: 200ms background-color;
}

.profile-profile_status_header {
    display: flex;
}

.notification-button {
    background-color: transparent;
    border: none;
    color: white;
    padding-right: 5px;
    font-size: 16px;
    cursor: pointer;
}

.notification-button:hover {
    color: #c300ff;
}

.notification-button .notification-badge {
    position: relative;
    top: -10px;
    right: -8px;
    padding: 0px 10%;
    border-radius: 50%;
    background: red;
    color: red;
    display: none;
}

.notification-button .show-notification-badge {
    display: inline;
}

.not {
    position: relative;
    justify-content: center;
    width: 3px;
}

.not2 {
    position: absolute;
    width: 250px;
    margin-top: 20px;
    border-radius: 20px;
    transform: translateX(-40%);
    z-index: 5;
    display: none;
    flex-direction: column;
    background-color: #ffc421;
}

.show_notify {
    display: flex;
}

.navbar-request-content {
    border-radius: 25px;
    background-color: #232323;
    color: #ffff;
}

.request {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 10%;
}

.request-img {
    margin: auto;
    margin-left: 5px;
    height: 75%;
    width: 75%;
    border-radius: 50%;
    flex: 1;
}

.request-username {
    flex: 3;
    font-size: 1em;
    text-align: center;
    margin: auto;
}

.request-buttons {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.request-button {
    background-color: #c300ff;
}


/*

a#button::before {
    content: "|";
}
*/