html {
    scroll-behavior: smooth;
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background-color: #232323;
}

 ::-webkit-scrollbar-thumb {
    background-color: #c300ff;
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #9f00cf;
}

.logo {
    width: 50px;
}

.nav-bar-content a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.8em;
    font-family: fantasy, Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
}

.nav-item .nav-link {
    color: #ffff;
    font-size: 20px;
    font-family: fantasy, Arial, Helvetica, sans-serif;
}

.nav-item .nav-link:hover {
    color: #c300ff;
    transition: color 200ms;
}

body {
    background-image: url(/images/system/background.png);
    background-size: cover;
    color: #b4b4b4;
    overflow-x: hidden;
}

#banner {
    padding: 0;
    height: 20vh;
    justify-content: center;
}

#banner p {
    padding-top: 2vh;
    margin: 0;
    color: #c300ff;
    font-size: 5em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#loginButton {
    text-decoration: none;
    color: #ffff;
    font-size: 1.1em;
    font-family: fantasy, Arial, Helvetica, sans-se
}

.modal-backdrop {
    z-index: 1;
}

#loginSubmit {
    float: right;
    margin-bottom: 10px;
}

#loginRegister {
    float: right;
    margin-right: 5px;
    margin-bottom: 10px;
}

#registerSubmit {
    float: right;
    margin-bottom: 10px;
}

#termsOfServiceCheckbox {
    text-decoration: underline;
}

#dropdownButton {
    background-color: #c300ff;
    color: #ffff;
}

#dropdownMenuList {
    left: -114%;
    text-align: center;
}

#dropdownMenuContent {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-family: fantasy, Arial, Helvetica, sans-se
}

#card {
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(5px);
}


/* File Manager Start */

#fileManagerSideRowBox {
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(5px);
    padding: 5vh;
}

.file-box {
    float: left;
    width: 220px;
}

.file-manager h5 {
    text-transform: uppercase;
}

.file-manager {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.folder-list li a {
    font-size: 0.7em;
    text-decoration: none;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(5px);
    padding: 5px 12px;
    color: #ffff;
    border-radius: 2px;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
}

.folder-list li {
    border-bottom: 1px solid rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(5px);
    display: block;
}

.folder-list li i {
    margin-right: 8px;
    color: #c300ff;
}

.file-manager h5.tag-title {
    margin-top: 20px;
}

.tag-list li {
    float: left;
}

.tag-list li a {
    font-size: 0.7em;
    font-weight: bolder;
    text-decoration: none;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(5px);
    padding: 5px 12px;
    color: #ffff;
    border-radius: 2px;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
}

.file {
    border: 1px solid rgba(126, 126, 126, 0.5);
    padding: 0;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(5px);
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}

.file-manager .hr-line-dashed {
    margin: 15px 0;
}

.file .icon,
.file .image {
    height: 100px;
    overflow: hidden;
}

.file .icon {
    padding: 15px 10px;
    text-align: center;
}

.file-control {
    color: #ffff;
    font-size: 0.8em;
    margin-right: 10px;
    text-decoration: none;
}

.file-control.active {
    text-decoration: underline;
}

.file .file-name {
    padding: 10px;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
    color: #ffff;
    font-family: fantasy, Arial, Helvetica, sans-se;
    font-weight: 100;
    text-decoration: none;
}

.file .icon i {
    font-size: 70px;
    color: rgba(83, 83, 83, 0.8);
    backdrop-filter: blur(5px);
}

.file .file-name a {
    text-decoration: none;
}

.file-name small {
    color: #676a6c;
    text-decoration: none;
}

ul.tag-list li {
    list-style: none;
}

.corner {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 0.6em solid transparent;
    border-right: 0.6em solid #f1f1f1;
    border-bottom: 0.6em solid #f1f1f1;
    right: 0em;
    bottom: 0em;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox-title {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

a:hover {
    text-decoration: none;
}


/* File Manager End */


/* wawy banner Start */

.wavy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 60px;
}

.wavy span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    color: #c300ff;
    animation: wavy 2s;
    animation-delay: calc(.1s * var(--i));
}

@keyframes wavy {
    0%,
    40%,
    100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
}


/*  banner End */


/*  file upload modal start */

#uploadSubmit {
    float: right;
    margin-bottom: 10px;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}


/*  file upload modal end */

.showNone {
    display: none;
}

/* Admin panel start */

#adminSidebarContainer {
    text-align: left;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
}

#adminSidebar {
    color: #ffff;
    background-color: transparent;
    text-decoration: none;
    text-align: left;
}

#adminPanelHeader {
    text-align: center;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
    margin: 0;
}

#administratorNicknameHeader {
    color: #ffff;
}

#administratorNicknameFooter {
    margin: 0;
    padding: 0;
}

#adminPanelTotalUsers {
    color: green;
    border: 3px solid rgba(0, 0, 0, .2);
    margin: 0px 5px 0px 2px;
    text-align: left;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
    padding: 0;
}

#adminPanelNewUsers {
    color: red;
    border: 3px solid rgba(0, 0, 0, .2);
    text-align: left;
    margin: 0px 2px 0px 2px;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
    padding: 0;
}

#adminPanelBannedUsers {
    color: cyan;
    border: 3px solid rgba(0, 0, 0, .2);
    text-align: left;
    margin: 0px 2px 0px 2px;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
    padding: 0;
}

#adminPanelUniqueVisitors {
    color: plum;
    border: 3px solid rgba(0, 0, 0, .2);
    text-align: left;
    margin: 0px 2px 0px 2px;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
    padding: 0;
}

#adminPanelLargeGraph {
    color: rgb(255, 251, 0);
    border: 3px solid rgba(0, 0, 0, .2);
    text-align: left;
    margin: 0px 2px 0px 2px;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
    padding: 0;
}

#adminPanelSmallGraph {
    color: rgb(17, 14, 184);
    border: 3px solid rgba(0, 0, 0, .2);
    text-align: left;
    margin: 0px 2px 0px 2px;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
    padding: 0;
}

#adminPanelInbox {
    color: rgb(255, 123, 0);
    border: 3px solid rgba(0, 0, 0, .2);
    text-align: left;
    margin: 0px 2px 0px 2px;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
    padding: 0;
}

#adminPanelAdminChat {
    color: rgb(25, 214, 8);
    border: 3px solid rgba(0, 0, 0, .2);
    text-align: left;
    margin: 0px 2px 0px 2px;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
    padding: 0;
}

#adminPanelToDoList {
    color: rgb(199, 0, 199);
    border: 3px solid rgba(0, 0, 0, .2);
    text-align: left;
    margin: 0px 2px 0px 2px;
    background-color: rgba(83, 83, 83, 0.2);
    backdrop-filter: blur(10px);
    padding: 0;
}
.userList{
    background-color: rgba(83, 83, 83, 0.2);
}
.userList a
{
    text-decoration: none;
    color: #c300ff;
}
.userList:hover{
    background-color: rgba(83, 83, 83, 0.4);
}

#topBarInFileManager {
    background-color: rgba(83, 83, 83, 0.3);
    backdrop-filter: blur(10px);
    padding: 0;
    text-align: left;
    color: gainsboro;
    border-radius: 5px;
    border: rgba(83, 83, 83, 0.1) 1px solid;
    margin-bottom: 5px;
}

footer{
    bottom: 0px;
    color: #ffff;
    height: auto;
    width: 100vw;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(31, 31, 31, 0.8);
}

.footer-content h3{
    font-family: fantasy, Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 2rem;
}

.footer-content p{
    max-width: 90%;
    margin: 10px auto;
    line-height: 28px;
    font-size: 1.2rem;
    font-weight: 100;
}

.footer-links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.footer-links li{
    margin: 0 10px;
}

.footer-links a{
    text-decoration: none;
}

.footer-links a i{
    font-size: 1.5rem;
    color: #c300ff;
    transition: color .5s ease;
}

.footer-links a:hover i{
    color: #9f00cf;
}

.footer-bottom{
    background-color: rgba(31, 31, 31);
    width: 100vw;
    padding: 5px 0;
    text-align: center;
}

.footer-bottom p{
    margin: 0;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p span{
    font-weight: 400;
    opacity: 0.5;
    color: #9f00cf;
    text-transform: uppercase;
}