<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h3>Název:</h3>
        <p>'.$nazev.'</p>
        <h3>Originální jazyk:</h3>
        <p>'.$originalniJazyk.'</p>
        <h3>Autor:</h3>
        <p>'.$autor.'</p>
        <h3>Další díla:</h3>
        <p>'.$ostatniDila.'</p>
        <h3>Literární žánr:</h3>
        <p>'.$literarniZanr.'</p>
        <h3>Literární směr:</h3>
        <p>'.$LiterarniSmer.'</p>
        <h3>Literární druh:</h3>
        <p>'.$LiterarniDruh.'</p>
        <h3>Forma:</h3>
        <p>'.$forma.'</p>
        <h3>Kompozice:</h3>
        <p>'.$kompozice.'</p>
        <h3>Struktura:</h3>
        <p>'.$struktura.'</p>
        <h3>Časoprostor:</h3>
        <p>'.$casoprostor.'</p>
        <h3>Hlavní postavy:</h3>
        <p>'.$hlavniPostavy.'</p>
        <h3>Vedlejší postavy:</h3>
        <p>'.$vedlejsiPostavy.'</p>
        <h3>Téma:</h3>
        <p>'.$tema.'</p>
        <h3>Hlavní myšlenka:</h3>
        <p>'.$hlavniMyslenka.'</p>
        <h3>Jazykové a literární prostředky:</h3>
        <p>'.$jazykProstredky.'</p>
        <h3>Kontext:</h3>
        <p>'.$kontext.'</p>
        <h3>Děj:</h3>
        <p>'.$dej.'</p>
    </div>
</body>

</html>